<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">
  <link type = "text/css" rel="stylesheet" href="css/explore.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/explore.js"></script>

  <title>FOODme</title>
</head>

  <body>

    <!--
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/exp"><span class="glyphicon glyphicon-globe"></span>&nbsp;<p>Explore</p></a></li>
          <li><a href="/profile" class="dropdown-item"><span class="glyphicon glyphicon-user"></span>&nbsp;<p>My Info</p></a></li>
          <li><a href="/bookmarks" class="dropdown-item"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;<p>Bookmarks</p></a></li>
          <li><a href="#" class="dropdown-item"><i class="fa fa-users"></i>&nbsp;<p>Friends</p></a></li>
          <li><a href="#" class="dropdown-item"><span class="glyphicon glyphicon-cog"></span>&nbsp;<p>Settings</p></a></li>
        </ul>
      </div>
    </nav>
  -->
  
    <div id="footer">
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-3 text-center"><a href="/exp"><i class="glyphicon glyphicon-globe"></i><br><p>Explore</p></a></div>
          <div class="col-xs-3 text-center"><a href="/bookmarks"><i class="glyphicon glyphicon-bookmark"></i><br><p>Bookmarks</p></a></div>
          <div class="col-xs-3 text-center"><a href="#"><i class="fa fa-users"></i><br><p>Friends</p></a></div>
          <div class="col-xs-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user"></i><br><p>Profile</p></a></div>
        </div>
      </div>
    </div>

    <!-- Menu Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>

          <a href="/" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-log-out"></span><p>Logout</p></a>
          <a href="/" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-edit"></span><p>Review</p></a>
        </div>
      </div>
    </nav>

   <div id = "container">

		<div id = "finder">
			<!--<form>
				<input type = "search" value = "Search"/>
			</form>
			<button id = "spin">Explore the Crave</button>-->
      <div id = "container">

      <form action="/search.html" class="search-wrapper cf">
        <input type="text" placeholder="Search for food here..." required="">
        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </form>
      <div class = "item">
        <a href="/item"><img src = '/item' id = "dish_img"/></a>
        <p id = "dish_id">Click the dish for more info</p>
      </div>

      <div id = "swipe">
        <button class = "move" id = "prev"> << </button>
        <a href = "#bmk_confirm" id = "bmk" data-rel = "popup"><button id = "book_button"><i class="glyphicon glyphicon-bookmark"></i><p>Bookmark</button></a>
        <button class = "move" id = "next"> >> </button>
      </div>

	</div> <!--end of container-->

  </body>
</html>
