<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">
  <link type = "text/css" rel="stylesheet" href="css/explore.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="function.js"></script>

  <title>FOODme</title>
</head>

  <body>

    <div id="background">
      <img src="https://static.pexels.com/photos/6740/food-sugar-lighting-milk.jpg" class="stretch" alt=""/>
    </div>

    <!-- Menu Bar -->
    <div id="footer">
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-3 text-center"><a href="/exp"><i class="glyphicon glyphicon-globe"></i><br><p>Explore</p></a></div>
          <div class="col-xs-3 text-center"><a href="/bookmarks"><i class="glyphicon glyphicon-bookmark"></i><br><p>Bookmarks</p></a></div>
          <div class="col-xs-3 text-center"><a href="/friends"><i class="fa fa-users"></i><br><p>Friends</p></a></div>
          <div class="col-xs-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user"></i><br><p>Profile</p></a></div>
        </div>
      </div>
    </div>

    <!-- Menu Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>

          <!--<a href="/" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-log-out"></span><p>Logout</p></a>-->
          <a href="/upload" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-edit"></span><p>Review</p></a>
        </div>
      </div>
    </nav>

  <div id = "container">
    <br></br>
    <h2>Welcome to FoodMe!</h2>
    <div id= "homeText">
      Search for a specific item
    </div>

    <div id = "finder">
      <form action="/search.html" class="search-wrapper cf">
        <input type="text" placeholder="Search for food here..." required="">
        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
      </form>
    </div> <!--end of finder-->
  </div> <!--end of container-->

   <div id = "container">
     <div id= "homeText">
       Or explore a bit...
     </div>

		<div id = "finder">

      <a href="/exp"><button id="spin" class="explore-button">Explore the Crave</button></a>
      <div id = "location">
        <p id = "loc">San Diego, CA</p>
        <a id = "change_loc">change location?</a>
      </div>
		</div> <!--end of finder-->


	</div> <!--end of container-->

  </body>
</html>
