<!DOCTYPE html>
<html>
	<head>

		<link rel = "stylesheet" href = "css/rate.css">
		<!--for three emojis in rating-->
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/bookmarks.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">
  <link type = "text/css" rel="stylesheet" href="css/explore.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/explore.js"></script>

  <title>FOODme</title>
	</head>

	<body>

		<div id="footer">
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-3 text-center"><a href="/exp"><i class="glyphicon glyphicon-globe"></i><br><p>Explore</p></a></div>
          <div class="col-xs-3 text-center"><a href="/bookmarks"><i class="glyphicon glyphicon-bookmark"></i><br><p>Bookmarks</p></a></div>
          <div class="col-xs-3 text-center"><a href="#"><i class="fa fa-users"></i><br><p>Friends</p></a></div>
          <div class="col-xs-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user"></i><br><p>Profile</p></a></div>
        </div>
      </div>
    </div>


    <!-- Menu Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>

          <a href="/" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-log-out"></span><p>Logout</p></a>
          <a href="/" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-edit"></span><p>Review</p></a>
        </div>
      </div>
    </nav>

		<form>
			<h4>Dish Rating</h4>
				<h5 id = "dname"></h5>
				<h5 id = 'drest'></h5>
				<p>This dish made me feel...</p>
			<!--reaction to dishes-->
			<div class = "emoji">
				<i class = "em em-disappointed" id = "ab"></i>
				Disappointed
			</div>
			<div class = 'emoji'>
				<i class = "em em-confused" id = "ab"></i>
				Meh
			</div>
			<div class = 'emoji'>
				<i class = "em em-smiley" id = "ab"></i>
				Happy
			</div>
			<!--hashtag ratings-->
			<div id = "up_tags">
				<p>UPS: list three good things about this dish, separate each using a comma</p> <i>example: #awesome, #yummy</i>
				<input type = "text" id = "ui"></input>
			</div>
			<div id = "down_tags">
				<p>DOWNS: list three bad things about this dish, separate each using a comma</p> <i>example: #disgusting, #spicy</i>
				<input type = "text" id = "di"></input>
			</div>

			<div id = "submit">
				<a href = '/'><button id = "submitBtn">SUBMIT</button></a>
			</div>

		</form>
	</body>
</html>
