<!DOCTYPE html>
<html>
	<head>

		<link rel = "stylesheet" href = "css/rate.css">
		<!--for three emojis in rating-->
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/bookmarks.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">
  <link type = "text/css" rel="stylesheet" href="css/explore.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/explore.js"></script>

  <title>FOODme</title>
	</head>

	<body>

		<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-star"></span>&nbsp;About</a></li>
            <li><a href="/exp"><span class="glyphicon glyphicon-globe"></span>&nbsp;Explore</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;My Profile<span class="caret"></span></a>
              <ul class="dropdown-menu" style="">
								<li><a href="/profile" class="dropdown-item"><span class="glyphicon glyphicon-user"></span>&nbsp;My Info</a></li>
                <li><a href="/bookmarks" class="dropdown-item"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Bookmarks</a></li>
                <li><a href="#" class="dropdown-item"><i class="fa fa-users"></i>&nbsp;Friends</a></li>
                <li><a href="#" class="dropdown-item"><span class="glyphicon glyphicon-cog"></span>&nbsp; Settings</a></li>
                <li><a href="/" class="dropdown-item"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> <!--end of menu-->
		<form>
			<h4>Dish Rating</h4>
				<h5 id = "dname"></h5>
				<h5 id = 'drest'></h5>
				<p>This dish made me feel...</p>
			<!--reaction to dishes-->
			<div class = "emoji">
				<i class = "em em-disappointed" id = "ab"></i>
				Disappointed
			</div>
			<div class = 'emoji'>
				<i class = "em em-confused" id = "ab"></i>
				Meh
			</div>
			<div class = 'emoji'>
				<i class = "em em-smiley" id = "ab"></i>
				Happy
			</div>
			<!--hashtag ratings-->
			<div id = "up_tags">
				<p>UPS: list three good things about this dish, separate each using a common</p> <i>example: #awesome, #yummy</i>
				<input type = "text" id = "ui"></input>
			</div>
			<div id = "down_tags">
				<p>DOWNS: list three bad things about this dish, separate each using a common</p> <i>example: #disgusting, #spicy</i>
				<input type = "text" id = "di"></input>
			</div>

			<div id = "submit">
				<a href = '/'><button id = "submitBtn">SUBMIT</button></a>
			</div>

		</form>
	</body>
</html>
