<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/upload.js"></script>

  <title>FOODme</title>
</head>

  <body>

    <!-- Menu Bar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-star"></span>&nbsp;About</a></li>
            <li><a href="/exp"><span class="glyphicon glyphicon-globe"></span>&nbsp;Explore</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;My Profile<span class="caret"></span></a>
              <ul class="dropdown-menu" style="">
                <li><a href="/bookmarks" class="dropdown-item"><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Bookmarks</a></li>
                <li><a href="#" class="dropdown-item"><i class="fa fa-users"></i>&nbsp;Friends</a></li>
                <li><a href="#" class="dropdown-item"><span class="glyphicon glyphicon-cog"></span>&nbsp; Settings</a></li>
                <li><a href="/" class="dropdown-item"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

   <div id = "container">
    <form action="/exp">
      <h2>Upload Dish</h2>
          <input type="text" name="dish" placeholder="Dish Name" id = "name">
          <input type="text" name="restaurant" placeholder="Restaurant" id = "restaurant">
          <input type="text" name="location" placeholder= "Address" id = "address">
          <input type="text" name="hashtags" placeholder= "Hashtags" id = "tags">
      <!--taking picture-->
      <h4>Picture</h4>
          <input type="file" id = "{{imgURL}}"accept="image/*" capture id>
          <button id = "upBtn">SUBMIT</button>
        </form>

		

	</div> <!--end of container-->

  </body>
</html>
