<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/upload.js"></script>

  <title>FOODme</title>
</head>

  <body>

    <!-- Menu Bar -->
    <div id="footer">
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-3 text-center"><a href="/exp"><i class="glyphicon glyphicon-globe"></i><br><p>Explore</p></a></div>
          <div class="col-xs-3 text-center"><a href="/bookmarks"><i class="glyphicon glyphicon-bookmark"></i><br><p>Bookmarks</p></a></div>
          <div class="col-xs-3 text-center"><a href="/friends"><i class="fa fa-users"></i><br><p>Friends</p></a></div>
          <div class="col-xs-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user"></i><br><p>Profile</p></a></div>
        </div>
      </div>
    </div>

    <!-- Menu Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>

          <!--<a href="/" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-log-out"></span><p>Logout</p></a>-->
          <a onClick="logOut();" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-log-out"></span><p>Logout</p></a>
          <a href="/upload" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-edit"></span><p>Review</p></a>
        </div>
      </div>
    </nav>

   <div id = "container">
    <form action="/exp">
      <h2>Upload Dish</h2>
          <input type="text" name="dish" placeholder="Dish Name" id = "name">
          <input type="text" name="restaurant" placeholder="Restaurant" id = "restaurant">
          <input type="text" name="location" placeholder= "Address" id = "address">
          <input type="text" name="hashtags" placeholder= "Hashtags" id = "tags">
      <!--taking picture-->
      <h4>Picture</h4>
          <input type="file" id = "{{imgURL}}"accept="image/*" capture id>
          <button id = "upBtn">SUBMIT</button>
        </form>



	</div> <!--end of container-->

  </body>
</html>
