/* navbar */
.navbar-inverse {
    background-color: #d83c3c;
    border-color: #d83c3c;
}
/* title */
.navbar-inverse .navbar-brand {
    color: #fff;
		font-weight: bold;
		font-size: 35px;

}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #555;
}

/* links (menu options) */
.navbar-inverse .navbar-nav > li > a {
    color: #fff; /* white */
		font-size: 20px;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #555;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #555;
		background-color: #f41100;
    /*background-color: #E7E7E7;*/
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #d83c3c;
}
/* caret */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
.navbar-inverse .navbar-nav > .open > a .caret,
.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #ff1c0b;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #ff1c0b;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFF;
}
@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #555;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }
}

.dropdown-menu > li > a {
		font-color: #fff;
    background-color: #eee;
		text-align: center;
}

.dropdown-item {
  font-color: #fff;
  font-size: 25px;
  color: #fff;
  padding-right: 5px;
  padding-left: 5px;
}

.dropdown-item > p {
  font-size: 10pt;
  margin-top: -5px;
  margin-bottom: -4px;
}

.navbar-fixed-bottom .navbar-nav > li {
  display: inline;
}

.navbar-fixed-bottom .navbar-nav > li > a {
  font-size: 20pt;
}

#bottomNav {
	padding: 2px;
}

#bottomNav a {
  font-size:20pt;
  color:#fff;
  text-decoration:none;
}

#bottomNav a:hover {
  color:#555;
}

#bottomNav a > p {
  margin-top: -8px;
  margin-bottom: 0px;
  font-size: 12pt;
}
