body {
	text-align: center;
	font-family: AvenirNextLTPro-Regular;
	width: 100%;
	height: 100%;
}
​
@font-face {
	font-family: AvenirNextLTPro-Regular;
	src: url(Avenir/AvenirNextLTPro-Regular.otf);
}
​
@font-face {
	font-family: AvenirNextLTPro-UltLtCn;
	src: url(Avenir/AvenirNextLTPro-UltLtCn.otf);
}
​
h1 {
	font-size: 50px;
	margin-bottom: 0px;
}

#userName {
	font-size: 30px;
}
​
h4 {
	font-family: AvenirNextLTPro-UltLtCn;
}
​
#profilePage {
	display: block;
	width: 820px;
	margin: 0 auto;
}
​
#userInfo .data .sep {
	clear: both;
	margin-top: 40px;
	width: 320px;
	height: 1px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
}
​
#userInfo .data ul.numbers {
	list-style: none;
	width: 400px;
	padding-top: 7px;
	margin-top: 0;
	border-top: 1px solid #fff;
	color: #676767;
}
​
#userInfo .data ul.numbers li {
	width: 145px;
	float: left;
	display: block;
	padding-left: 20px;
	padding-right: 20px;
	height: 50px;
	border-right: 3px solid #bbb;
	border-left: 3px solid #bbb;
	text-transform: uppercase;
}
​
#userInfo .data ul.numbers li strong {
	color: #434343;
	display: block;
	font-size: 3.2em;
	line-height: 1.1em;
}
​
.dropdown {
	position: relatve;
	display: inline-block;
}
​
.dropdown:hover {
	cursor: pointer;
}
​
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
}
​
.dropdown-content a {
	color: black;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
}
​
.dropdown-content a:hover {
	color: white;
	background-color: tomato;
}
.dropdown:hover .dropdown-content {
	display: block;
}
​
#finder .btn-lg {
    color: #FFF;
    background-color: #777;
    border: 0px;
}
#finder .btn-block {
    box-shadow: none;
		margin: auto;
		margin-bottom: 25px;
		width: 215px;
​
}
​
form {
​
	margin: auto;
}
​
input {
	width: 250px;
}
​
.hidden {
	visibility: hidden;
}
​
.glyphicon.glyphicon-chevron-left {
    font-size: 45px;
		color: #FFF;
}
​
.glyphicon.glyphicon-chevron-left:hover {
    color: #5e5e5e;
}
