body{
	margin-top: 90px;
}

#ab {
	width: 40px;
	height: 40px;
	opacity: 0.5;
}

.emoji {
	display: inline-block;
}

.emoji-radio {
	display: none;
}

#ab:hover {
	opacity: 1;
}

#submit {
	margin-top: 10px;
}

form {
	text-align: center;
}

#ui{
	border-radius: 3px;
}

#di{
	border-radius: 3px;
}
