#ab { 
	width: 40px;
	height: 40px;
	opacity: 0.5;
}

.emoji { 
	display: inline-block;
}

#ab:hover { 
	opacity: 1;
}

#submit { 
	margin-top: 10px;
}

form { 
	text-align: center;
}